
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <nav class="navbar1">
        <h3>HOME</h3>
        <p><b>WELCOME TO MOVIE BUFF</b></p>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>   
    <h1>Welcome to Movie Recomender</h1><br><br>
     
   <!-- <% data.forEach(function(str){ %>
              <div class="card ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-YoxA3KpeRA9Y5rcdcBv8tQDIxdR4iPHvtw&usqp=CAU" alt="Movie" style="width:150px;height:150px;align-items: center"/>
                <div class="container">
                  <h4><b><%=str%></b></h4> 
                  <% var movieid=str.substring(0,5);%> 
                    <h4><%=movieid%></p>
                  <!-- <!-- <p>Architect & Engineer</p>  -->
            
             </div>
            </div>
     
            <% }) %> -->
<div class="row">
    <% data.forEach(function(str){ %>
    <div class="column">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-YoxA3KpeRA9Y5rcdcBv8tQDIxdR4iPHvtw&usqp=CAU" alt="Movie"/>
        <h4><b><%=str%></b></h4> 
        <% var movieid=str.substring(0,5);%> 
        <h4><%=movieid%></p>
      </div>
    </div>
    <% }) %>
</div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>